.pattern_brief
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pattern_brief_title
{
    margin-top: 10%;
    font-size: 35px;
    color: black;
}
.pattern_brief_content
{
    font-size: 20px;
}
.pattern_meaning
{
    padding-bottom: 50px;
}
.pattern_meaning_title
{
    margin-top: 60px;
    font-size: 35px;
    color: black;
}
.pattern_meaning_content
{
    font-size: 20px;
}



.button
{
    width: 152px;
    height: 44px;
    background: #b47bff;
    text-align: center;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.button:hover
{
    box-shadow: 0px 10px 23px rgba(0,0,0,0.15);
}
.button a
{
    display: block;
    height: 100%;
    line-height: 44px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
