@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

5. Home
6. About
7. Split Section Right
8. Split Section Left
9. Testimonials
10. Footer


******************************/

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 588px;
	background: #0f0e24;
}
.home .background_image
{
	opacity: 0.5;
}
.home_container
{
	position: absolute;
	top: 60.3%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}

.home_title
{
	font-size: 72px;
	font-weight: 600;
	color: #ffffff;
	line-height: 1.2;
}

.home_sub_title
{
	font-size: 100px;
	font-weight: 600;
	color: #ffffff;
	line-height: 1.2;
}

.booking_form_container
{
	width: 100%;
	margin-top: 34px;
	padding-left: 78px;
	padding-right: 88px;
}
.booking_form
{
	display: block;
	width: 100%;
}
.booking_input
{
	width: 100%;
	height: 54px;
	background: rgba(255,255,255,0.2);
	border: solid 2px #ffffff;
	padding-left: 27px;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	outline: none;
}
.booking_input_container
{
	width: 100%;
}
.booking_input_container > div
{
	padding-right: 10px;
}
.booking_input_container > div:first-child,
.booking_input_container > div:nth-child(2)
{
	width: 32.60869565217391%;
}
.booking_input_container > div:nth-child(3),
.booking_input_container > div:nth-child(4)
{
	width: 17.39130434782609%;
}
.booking_input_a
{
	
}
.booking_input_b
{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.booking_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
}
.booking_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
}
.booking_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
} 
.booking_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
}
.booking_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
}
.booking_button
{
	width: 152px;
	height: 54px;
	background: #ffa37b;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
}
.booking_button:hover
{
	background: rgba(255,255,255,0.2);
}

/*********************************
6. About
*********************************/

.about
{
	background: #ffffff;
	padding-top: 107px;
	padding-bottom: 104px;
}
.about_title
{
	max-width: 585px;
	font-size: 45px;
	color: black	
}
.about_row
{
	margin-top: 21px;
}
.about_images
{
	height: 100%;
	padding-left: 17px;
	padding-right: 19px;
	padding-top: 14px;
}
.about_sig
{
	margin-top: 20px;
}

/*********************************
7. Split Section Right
*********************************/

.split_section_right
{
	background: #ffffff;
}
.split_section_right_content
{
	padding-top: 112px;
	padding-left: 67px;
	padding-bottom: 77px;
	padding-right: 130px;
}
.split_section_title h1
{
	font-size: 72px;
}
.split_section_text
{
	margin-top: 20px;
}
.milestones_container
{
	margin-top: 84px;
	padding-right: 50px;
	padding-left: 10px;
}
.milestone
{
	width: calc(100% / 3);
	margin-bottom: 60px;
}
.milestone_counter
{
	font-size: 72px;
	color: #393939;
	font-weight: 600;
	line-height: 0.75;
}
.milestone_title
{
	font-size: 16px;
	color: #868686;
	font-weight: 600;
	line-height: 0.75;
	margin-top: 35px;
}
.split_section_image
{
	height: 100%;
}

/*********************************
8. Split Section Left
*********************************/

.split_section_left
{
	background: #ffffff;
}
.split_section_left_content
{
	padding-left: 104px;
	padding-top: 116px;
	padding-right: 95px;
	padding-bottom: 120px;
}
.loaders_container
{
	margin-top: 43px;
	margin-left: -22px;
}
.loader_container
{
	width: calc(100% / 3);
	height: 155px;
}
.loader
{
	width: 155px;
	height: 155px;
	background: transparent;
}
.loader_content
{
	position: absolute;
	left: 50%;
	bottom: 48px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 18px;
	font-weight: 500;
	color: #232323;
	white-space: nowrap;
	text-align: center;
}
.loader_title
{
	font-size: 14px;
	font-weight: 600;
	color: #868686;
	line-height: 0.75;
	white-space: nowrap;
}
.progressbar-text
{
	top: calc(40% + 1px) !important;
	font-size: 48px !important;
	font-weight: 600 !important;
	color: #393939 !important;
	line-height: 0.75 !important;
}

/*********************************
9. Testimonials
*********************************/

.testimonials
{
	padding-top: 60px;
	padding-bottom: 60px;
}
.testimonials_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(13,11,24,0.79);
	pointer-events: none;
}
.test_slider_item
{
	background: #ffffff;
	padding-top: 43px;
	padding-bottom: 58px;
	padding-left: 45px;
	padding-right: 45px;
}
.rating i::before
{
	font-family: 'FontAwesome';
	content: "\f005";
	font-style: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.2);
}
.rating i:not(:last-of-type)
{
	margin-right: 6px;
}
.rating_1 i:first-child::before{color: #ffb400;}
.rating_2 i:first-child::before{color: #ffb400;}
.rating_2 i:nth-child(2)::before{color: #ffb400;}
.rating_3 i:first-child::before{color: #ffb400;}
.rating_3 i:nth-child(2)::before{color: #ffb400;}
.rating_3 i:nth-child(3)::before{color: #ffb400;}
.rating_4 i:first-child::before{color: #ffb400;}
.rating_4 i:nth-child(2)::before{color: #ffb400;}
.rating_4 i:nth-child(3)::before{color: #ffb400;}
.rating_4 i:nth-child(4)::before{color: #ffb400;}
.rating_5 i:first-child::before{color: #ffb400;}
.rating_5 i:nth-child(2)::before{color: #ffb400;}
.rating_5 i:nth-child(3)::before{color: #ffb400;}
.rating_5 i:nth-child(4)::before{color: #ffb400;}
.rating_5 i:nth-child(5)::before{color: #ffb400;}
.testimonial_whole_title
{
	color: white;
	font-size: 45px;
	margin-top: 60px;
	margin-bottom : 10px;
}
.testimonial_title
{
	margin-top: 21px;
}
.testimonial_title a
{
	font-size: 24px;
	font-weight: 600;
	color: #393939;
	line-height: 1.2;
}
.testimonial_title a:hover
{
	color: #b47bff;
}
.testimonial_text
{
	margin-top: 24px;
}
.testimonial_image
{
	width: 106px;
	height: 106px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
}
.testimonial_sns
{
	margin-top: 10px;
	font-size: 15px;
	font-weight: 600;
	color: #393939;
}
.testimonial_sns_img
{
	margin-left: 35%;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	float: left;
	vertical-align: middle;
}
.testimonial_sns a
{
	font-size: 15px;
	font-weight: 600;
	color: #393939;
}
.testimonial_sns a:hover
{
	color: #b47bff;
}


/* Added by KYH */
.hae_logo
{
	width: 90px;
	height: auto;
}
.about_women
{
	background: #ffffff;
	padding-top: 40px;
	padding-bottom: 40px;
}
.about_women_title
{
	max-width: 585px;
	font-size: 30px;
	font-weight: bold;
	color: black
}
.about_women_img
{
	width: 400px;
	height: auto;
}

.about_women_subtitle
{
	margin-top: 10px;
	max-width: 585px;
	font-size: 20px;
	font-weight: bold;
	color: black
}



/*********************************
6.3 Tabs
*********************************/

.tabs_container
{
	width: 100%;
}
.tab
{
	height: 54px;
	background: #ffffff;
	font-size: 14px;
	color: #393333;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 9px;
	padding-left: 30px;
	padding-right: 26px;
	border: solid 2px #b47bff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:hover
{
	background: #b47bff;
	color: #ffffff;
}
.tab:not(:last-child)
{
	margin-right: 15px;
}
.tab.active
{
	background: #b47bff;
	color: #FFFFFF;
}
.tab_panels
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 14px;
	padding-bottom: 32px;
}
.tab_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.tab_panel_content p:last-of-type
{
	margin-bottom: 0;
}
.tab_text
{
	margin-top: -2px;
}
.tab_text p
{
	font-size: 14px;
	line-height: 2.143;
	font-weight: 400;
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	-ms-transform: translateY(8px);
	-o-transform: translateY(8px);
	transform: translateY(8px);
}
.tab_image
{
	width: 100%;
}
.tab_image img
{
	max-width: 100%;
}
